<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 通过这个配置文件完成mybatis与数据库的连接 -->
<configuration>
	<!-- 引入 database.properties 文件-->
	<properties resource="database.properties"/>
	<!-- 配置mybatis的log实现为LOG4J -->
	<settings>
<!--		<setting name="logImpl" value="LOG4J" />-->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		
<!--		除了resultMap中声明的字段，其他都不匹配-->
<!--		<setting  name="autoMappingBehavior" value="NONE"/>-->
<!--		匹配全部-->
		<setting  name="autoMappingBehavior" value="FULL"/>
		
<!--		开启二级缓存-->
		<setting name="cacheEnabled" value="true"/>

	</settings>

	<typeAliases>
<!--		<typeAlias type="cn.smbms.entity.User" alias="user"></typeAlias>-->
<!--		<typeAlias type="cn.smbms.entity.Provider" alias="provider"></typeAlias>-->
<!--		批量扫描包，生成别名，不区分大小写-->
		<package name="cn.smbms.pojo"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<!--配置事务管理，采用JDBC的事务管理  -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- POOLED:mybatis自带的数据源，JNDI:基于tomcat的数据源 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 将mapper文件加入到配置文件中 -->
	<mappers>
<!--		使用URL获取资源外部引入,路径要对-->
<!--		<mapper url="file:///C:\Users\hisoft-SX\Desktop\java\cn/smbms/dao/user/UserMapper.xml"/>-->

		<!--		使用类资源路径获取资源-->
<!--		<mapper resource="cn/smbms/dao/user/UserMapper.xml"/>-->
<!--		<mapper resource="cn/smbms/dao/provider/ProviderMapper.xml"/>-->

		<package name="cn.smbms.dao"/>
	</mappers>



</configuration>
